@charset "UTF-8";
/* CSS Document */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

body, div, dl, dt, dd, ul, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
}

iframe {
  width: 100%;
}

iframe, img {
  border: 0;
}

ul {
  list-style: none;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.block {
  display: block;
}

.t-align-center {
  text-align: center;
}

.t-align-left {
  text-align: left;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w80 {
  border-radius: 30px 0 0 30px;
  background-color: #f89c00;
  width: 80%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w55 {
  width: 55%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w15 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.w9 {
  width: 9%;
}

.w8 {
  width: 8%;
}

.w7 {
  width: 7%;
}

.w6 {
  width: 6%;
}

.w5 {
  width: 5%;
}

.w4 {
  width: 4%;
}

.m_10 {
  margin-bottom: 10px;
}

.m_20 {
  margin-bottom: 20px;
}

.m_30 {
  margin-bottom: 30px;
}

.m_40 {
  margin-bottom: 40px;
}

.m_50 {
  margin-bottom: 50px;
}

.m_60 {
  margin-bottom: 60px;
}

.m_70 {
  margin-bottom: 70px;
}

.m_80 {
  margin-bottom: 80px;
}

.m_90 {
  margin-bottom: 90px;
}

.m_100 {
  margin-bottom: 100px;
}

.m_110 {
  margin-bottom: 110px;
}

.m_120 {
  margin-bottom: 120px;
}

.m_130 {
  margin-bottom: 130px;
}

.m_140 {
  margin-bottom: 140px;
}

.m_170 {
  margin-bottom: 170px;
}

.m_180 {
  margin-bottom: 180px;
}

.m_250 {
  margin-bottom: 250px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-md-1 > * {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-md-2 > * {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-md-3 > * {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-md-4 > * {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-md-5 > * {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-md-6 > * {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

:root {
  --light: #f0efe9;
  --dark: #18191a;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("woff");
}

.d_no {
  display: none;
}

.d_block {
  display: block;
}

body a {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body,
html {
  width: 100%;
  height: 100%;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

body {
  background: #fff;
  color: #333;
  font-family: 微軟正黑體;
  font-size: 100%;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  position: relative;
}

.container .row {
  margin: 0;
}

.md .md-modal {
  max-width: 900px;
  width: calc(100vw - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3);
}

.md .md-modal .md-content {
  position: relative;
  margin: auto;
}

.md .md-modal .md-content video {
  width: 100%;
  height: 100%;
}

.md .md-close {
  border: 0;
  border-radius: 50%;
  background: #fff;
  width: 35px;
  height: 35px;
  color: #333;
  padding: 0;
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 35px;
  line-height: 35px;
  visibility: hidden;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  background: rgba(0, 0, 0, 0.98);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.md.active .md-modal {
  visibility: visible;
}

.md.active .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md.active .md-close {
  visibility: visible;
  right: 1px;
}

.lity-container {
  padding: 0 1em;
}

.lity-content {
  height: 100%;
}

.lity-box {
  width: 100vw;
  height: 828px;
  max-width: 1000px;
}

.lity-box iframe {
  width: 100%;
  height: 100%;
}

.lity-close,
.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  color: #fff;
}

.img-change img:last-of-type {
  display: none;
}

@media (max-width: 1300px) {
  .img-change img:first-of-type {
    display: none;
  }
  .img-change img:last-of-type {
    display: inline-block;
  }
}

.gotop {
  position: fixed;
  bottom: 17%;
  right: 20px;
  z-index: 99;
  display: none;
}

.gotop a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 3px #d94485 solid;
  background: #9e2e30;
  background-size: cover;
  display: block;
  position: relative;
}

.gotop a:before {
  content: "\f106";
  color: #fff;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: FontAwesome;
  font-weight: 400;
  font-style: normal;
}

.gotop a:hover {
  background: #333;
}

header .menu_mob {
  width: 100%;
  height: 100vh;
  background: #00b1d7;
  padding-top: 22px;
  position: absolute;
  top: 35px;
  z-index: 100;
  display: none;
  display: none;
}

header .menu_mob .member {
  margin-bottom: 20px;
  text-align: center;
}

header .menu_mob .member span:first-of-type,
header .menu_mob .member span:last-of-type {
  color: #ffd92e;
}

header .menu_mob ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-direction: column;
      flex-direction: column;
}

header .menu_mob ul li {
  width: 70%;
  text-align: center;
}

header .menu_mob ul li a,
header .menu_mob ul li p {
  border-radius: 30px;
  background: #1f5dbb;
  color: #fff;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

header .md-overlay {
  z-index: 99;
}

.menu_mob {
  width: 100%;
  height: 100vh;
  background: linear-gradient(49deg, #0062ad 0%, #00b1d7 100%);
  position: fixed;
  top: 0;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

.menu_mob ul {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 70px;
}

.menu_mob ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100px;
}

.menu_mob ul li a {
  width: 100%;
  height: 100px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.menu_mob ul li a strong {
  font-size: 18px;
  display: block;
  position: relative;
}

.menu_mob.active {
  opacity: 1;
  pointer-events: initial;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.md-overlay {
  z-index: 10;
}

.menu_button {
  width: 27px;
  height: 20px;
  cursor: pointer;
  z-index: 98;
  position: relative;
}

.menu_button .menuicon {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  width: 27px;
  height: 2px;
  background-color: black;
}

.menu_button .menuicon:before, .menu_button .menuicon:after {
  content: "";
  display: inline-block;
  width: 27px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.menu_button .menuicon:before {
  top: 10px;
}

.menu_button .menuicon:after {
  top: -10px;
}

.menu_button.active .menuicon {
  background: transparent;
}

.menu_button.active .menuicon:before, .menu_button.active .menuicon:after {
  background: #fff;
  -webkit-transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  transition: top 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  top: 0px;
  width: 27px;
}

.menu_button.active .menuicon:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale(1.1);
          transform: rotate3d(0, 0, 1, 45deg) scale(1.1);
}

.menu_button.active .menuicon:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale(1.1);
          transform: rotate3d(0, 0, 1, -45deg) scale(1.1);
}

section {
  position: relative;
}

/*---------------------------------------*/
/*  選單 */
/*---------------------------------------*/
.logo img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 188px;
}

header {
  margin-top: 30px;
  position: relative;
}

header:before {
  content: "";
  width: 329px;
  height: 116px;
  background: url(../images/top_bg-r.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 43%;
  top: -20px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu ul li {
  margin-right: 55px;
}

.header_menu ul li a {
  font-family: Arial;
  font-weight: bold;
  color: #000;
  font-size: 0.9em;
}

.header_menu ul li a:hover {
  color: #00b1d7;
}

.header_menu .shop {
  color: #000;
  display: block;
  padding-top: 2px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_menu .shop i {
  display: block;
  padding-top: 3px;
}

.header_menu .shop span {
  width: 23px;
  height: 23px;
  background: #ffd92e;
  border-radius: 100%;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_menu .user {
  color: #000;
}

.header_menu .user i {
  display: block;
  padding-top: 3px;
}

.top {
  padding: 80px 0;
  position: relative;
  background: url(../images/top_bg.png) no-repeat center top 14px;
}

.top_img {
  margin-left: 115px;
  position: relative;
}

.top_img .top_img__inner .top_img__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_img .top_img__inner .top_img__item .bike {
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40%;
}

.top_img .top_img__inner .top_img__item .bike::after {
  content: "";
  width: 80%;
  height: 80%;
  background: url(../images/top_bg-round.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0px 0px 8px #0062ad);
          filter: drop-shadow(0px 0px 8px #0062ad);
}

.top_img .top_img__inner .top_img__item .bike img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.top_img .top_img__inner .top_img__item .txt {
  width: calc(38% - 88px);
  padding-top: 11%;
  padding-right: 10px;
}

.top_img .top_img__inner .top_img__item .txt .tt {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1em;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.top_img .top_img__inner .top_img__item .txt .tt p span {
  color: #00b1d7;
}

.top_img .top_img__inner .top_img__item .txt .check {
  color: #5b5b5b;
  font-size: 1.25em;
  font-family: "Roboto";
  margin-bottom: 50px;
}

.top_img .top_img__inner .top_img__item .txt .check span {
  margin-left: 5px;
  color: #000;
  font-weight: bold;
}

.top_img .top_img__inner .top_img__item .txt .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_img .top_img__inner .top_img__item .txt .details a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  color: #000;
}

.top_img .top_img__inner .top_img__item .txt .details a span {
  width: 85px;
  height: 63px;
  background: #0062ad;
  background: linear-gradient(49deg, #0062ad 0%, #00b1d7 100%);
  border-radius: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
}

.top_img .top_img__inner .top_img__item .txt .details a:hover span {
  background: #0062ad;
  background: linear-gradient(49deg, #00b1d7 0%, #0062ad 100%);
}

.top_img .top_img__inner .top_img__item .txt .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_img .top_img__inner .top_img__item .txt .color p {
  color: #5b5b5b;
  font-size: 1em;
}

.top_img .top_img__inner .top_img__item .txt .color .box {
  width: 48px;
  height: 48px;
  background: #0477ee;
  border-radius: 16px;
  border: 9px solid #fff;
  -webkit-filter: drop-shadow(0px 0px 3px #cacaca);
          filter: drop-shadow(0px 0px 3px #cacaca);
  margin-left: 11px;
}

.title {
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.25em;
  font-weight: bold;
  line-height: 90%;
  position: absolute;
  z-index: -1;
}

.top_title {
  top: 1%;
  right: 17%;
}

.parts_title {
  top: 116px;
  left: 127px;
}

.news_title {
  top: 126px;
  left: 70px;
}

.news_title {
  top: 126px;
  left: 70px;
}

.map_title {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 70px;
  right: 100px;
}

.top .owl-theme .owl-nav.disabled + .owl-dots {
  width: 66px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -115px;
  top: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top .owl-theme .owl-nav.disabled + .owl-dots .owl-dot {
  position: relative;
}

.top .owl-theme .owl-nav.disabled + .owl-dots .owl-dot span {
  background: transparent;
  color: #fff;
  width: 66px;
  height: 49px;
  margin: 0;
}

.top .owl-theme .owl-nav.disabled + .owl-dots .owl-dot.active {
  border-radius: 30px;
  background: #0062ad;
  background: linear-gradient(49deg, #0062ad 0%, #00b1d7 100%);
}

.top .owl-theme .owl-nav.disabled + .owl-dots .owl-dot.active:before {
  color: #fff;
}

.top .owl-dots {
  counter-reset: dots;
}

.top .owl-dot:before {
  counter-increment: dots;
  content: counter(dots);
  color: #878787;
  font-size: 1.125em;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.folow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.folow p {
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
}

.folow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.folow ul li {
  margin-left: 20px;
}

.folow ul li a {
  color: #000;
}

.folow ul li a:hover {
  color: #00b1d7;
}

.top_img_thumb {
  width: 62%;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  margin-top: 10px;
}

.top_img_thumb .owl-item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_img_thumb .owl-item li img {
  max-width: 162px;
}

.top_img_thumb .owl-nav [class*="owl-"]:hover,
.top_img_thumb .owl-nav [class*="owl-"] {
  background: transparent;
  position: absolute;
  font-size: 0;
}

.top_img_thumb .owl-nav [class*="owl-"]:hover:before,
.top_img_thumb .owl-nav [class*="owl-"]:before {
  color: #000;
  font-family: FontAwesome;
  font-size: 20px;
}

.top_img_thumb .owl-prev {
  left: 0;
  bottom: 30px;
}

.top_img_thumb .owl-prev:before {
  content: "\f053";
}

.top_img_thumb .owl-next {
  right: 0;
  bottom: 30px;
}

.top_img_thumb .owl-next:before {
  content: "\f054";
}

.scroll_img {
  position: absolute;
  left: -97px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll_img p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-bottom: 20px;
}

.parts {
  background: url(../images/parts_bg.png) no-repeat top 200px left 85px;
  padding-bottom: 143px;
}

.parts .parts__inner .owl-dots {
  text-align: right;
  margin-right: 310px;
}

.parts .parts__inner .owl-dots .owl-dot span {
  background: #000;
}

.parts .parts__inner .owl-dots .owl-dot.active span {
  background: #00b1d7;
}

.parts_img__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px 0 300px;
}

.parts_img__item .img {
  width: 100%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 29%;
}

.parts_img__item .img:after {
  content: "";
  width: 80%;
  height: 80%;
  background: url(../images/top_bg-round.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0px 0px 8px #0062ad);
          filter: drop-shadow(0px 0px 8px #0062ad);
}

.parts_img__item .img img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.carousel_txt h2 {
  color: #00b1d7;
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 25px;
}

.carousel_txt strong {
  color: #000;
  display: block;
  font-size: 1.875em;
  line-height: 1.2em;
  margin-bottom: 70px;
}

.carousel_txt p {
  color: #000;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 90px;
  line-height: 1.8em;
}

.carousel_txt a {
  width: 175px;
  height: 63px;
  background: #0062ad;
  background: linear-gradient(49deg, #0062ad 0%, #00b1d7 100%);
  border-radius: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel_txt a:hover {
  background: #0062ad;
  background: linear-gradient(49deg, #00b1d7 0%, #0062ad 100%);
}

.promotion .promotion__inner .promotion_img__item {
  padding: 15px 0 0 0;
}

.promotion .promotion__inner .promotion_img__item .img {
  border: 1px #efefef solid;
  padding: 35px 15px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.23);
          box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.23);
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.promotion .promotion__inner .promotion_img__item .img span {
  background: #ffd92e;
  border-radius: 0 0 0 30px;
  padding: 14px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.promotion .promotion__inner .promotion_img__item .img img {
  max-width: 300px;
}

.promotion .promotion__inner .promotion_img__item .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.promotion .promotion__inner .promotion_img__item .txt .L-box {
  width: calc(100% - 100px);
}

.promotion .promotion__inner .promotion_img__item .txt .L-box strong {
  color: #000;
  border-bottom: 1px #000 solid;
  display: block;
  padding-bottom: 10px;
}

.promotion .promotion__inner .promotion_img__item .txt .L-box p {
  color: #00b1d7;
  font-size: 2.688em;
  font-family: "Roboto";
}

.promotion .promotion__inner .promotion_img__item .txt .L-box p span {
  font-size: 70%;
}

.promotion .promotion__inner .promotion_img__item .txt .R-box a {
  width: 77px;
  height: 63px;
  border-radius: 30px;
  background: #0062ad;
  background: linear-gradient(49deg, #0062ad 0%, #00b1d7 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion_tt {
  color: #00b1d7;
  display: inline-block;
  font-size: 1.25em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion_tt strong {
  width: 80px;
  border-bottom: 4px #0062ad solid;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}

.promotion_tt strong:before {
  content: "";
  width: 40px;
  height: 4px;
  background: #00b1d7;
  display: block;
  position: absolute;
  right: 0;
  bottom: -4px;
}

.news {
  width: 100%;
  padding: 243px 0;
  position: relative;
  background: url(../images/news_bg.png) no-repeat center top 117px;
}

.news_main {
  padding: 0 0 0 170px;
}

.news_main .owl-nav {
  width: 518px;
  height: 239px;
  background: linear-gradient(49deg, #0062ad 0%, #00b1d7 100%);
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -60px;
  right: 0;
}

.news_main .owl-nav [class*="owl-"] {
  position: static;
  font-size: 0;
}

.news_main .owl-nav:before {
  content: "PREV / NEXT";
  color: #fff;
  font-size: 0.9em;
  display: inline-block;
  margin-right: 50px;
}

.news_main .owl-nav .owl-prev,
.news_main .owl-nav .owl-prev:hover,
.news_main .owl-nav .owl-next {
  width: 30px;
  height: 56px;
  background: url(../images/btn_prev.png) no-repeat;
  display: block;
}

.news_main .owl-nav .owl-prev:before,
.news_main .owl-nav .owl-prev:hover:before,
.news_main .owl-nav .owl-next:before {
  display: none;
}

.news_main .owl-nav .owl-next,
.news_main .owl-nav .owl-next:hover {
  background: url(../images/btn_next.png) no-repeat;
}

.news_img__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news_img__item .L-box {
  width: 40%;
  padding-top: 116px;
}

.news_img__item .R-box {
  width: calc(60% - 20px);
  position: relative;
  padding-bottom: 39%;
  border-top-left-radius: 280px;
  border-bottom-left-radius: 280px;
  overflow: hidden;
}

.news_img__item .R-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.map {
  background: url(../images/map_bg.png) no-repeat right bottom;
}

.map_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map_main_box {
  width: 605px;
  height: 572px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  overflow: hidden;
  margin-right: 40px;
}

.map_main_box iframe {
  width: 100%;
  height: 100%;
}

.map_main .map_main_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map_main .map_main_txt .logo {
  margin-bottom: 50px;
}

.map_main .map_main_txt .logo img {
  max-width: 280px;
}

.map_main .map_main_txt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map_main .map_main_txt ul li strong {
  font-size: 1.125em;
}

.map_main .map_main_txt ul li p {
  font-size: 0.9em;
}

.map_main .map_main_txt ul li a {
  color: #00b1d7;
}

.map_main .map_main_txt ul li a:hover {
  color: #005669;
}

.map_main .map_main_txt ul li:not(:last-child) {
  margin-bottom: 40px;
}

footer {
  background: #000;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #fff;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li a {
  color: #fff;
}

footer ul li:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 1300px) {
  .menu_button {
    display: none !important;
  }
}

@media (max-width: 1300px) {
  .folow,
  header:before,
  .header_menu {
    display: none;
  }
  .menu_rwd_toggle {
    display: block;
  }
  .d_no {
    display: block;
  }
  body {
    font-size: 80%;
  }
  .title {
    font-size: 6em;
  }
  .top_title {
    left: 0;
  }
  .parts_title {
    top: 106px;
    left: 30px;
  }
  .top,
  .parts,
  .map {
    background: none;
  }
  .top {
    padding: 40px 0;
  }
  .top_img {
    margin-left: 66px;
  }
  .top_img .top_img__inner .top_img__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top_img .top_img__inner .top_img__item .bike {
    width: 100%;
    padding-bottom: 57%;
    margin-bottom: 10px;
  }
  .top_img .top_img__inner .top_img__item .txt {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .top_img .top_img__inner .top_img__item .txt .tt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .top_img .top_img__inner .top_img__item .txt .check {
    margin-bottom: 20px;
  }
  .top_img .top_img__inner .top_img__item .txt .details {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .top_img_thumb {
    width: 100%;
    padding: 0 45px;
  }
  .top .owl-theme .owl-nav.disabled + .owl-dots {
    left: -66px;
  }
  .scroll_img {
    left: -45px;
  }
  .parts {
    padding-bottom: 30px;
  }
  .parts .parts_img__item {
    padding: 0 15px;
  }
  .parts .parts_img__item .txt {
    width: 50%;
    padding-right: 15px;
  }
  .parts .parts_img__item .img {
    width: 50%;
    padding-bottom: 64%;
  }
  .carousel_txt p {
    margin-bottom: 40px;
  }
  .news {
    padding: 40px 0;
  }
  .news .news_main {
    padding: 0;
  }
  .news .news_main .news_img__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .news .news_main .news_img__item .L-box {
    width: 100%;
    padding: 0;
  }
  .news .news_main .news_img__item .L-box strong,
  .news .news_main .news_img__item .L-box p {
    margin-bottom: 20px;
  }
  .news .news_main .news_img__item .R-box {
    width: 100%;
    padding-bottom: 59%;
  }
  .map_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map_main .map_main_box {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .map_main .map_main_txt .logo {
    margin-bottom: 20px;
  }
  .map_main .map_main_txt ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  .lity-box {
    width: calc(100vw - 20px);
    height: calc(100vh - 200px);
  }
}

@media (max-width: 500px) {
  .title {
    display: none;
  }
  .top_img {
    margin: 0;
  }
  .top_img .top_img__inner .top_img__item .txt .tt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }
  .parts .parts_img__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .parts .parts_img__item .txt, .parts .parts_img__item .img {
    width: 100%;
  }
  .carousel_txt strong {
    margin-bottom: 20px;
  }
  .parts .parts__inner .owl-dots {
    margin: auto;
    text-align: center;
  }
  .map_main .map_main_box {
    height: 227px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .logo, footer p {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */