.block {
  display: block;
}
.t-align-center {
  text-align: center;
}
.t-align-left {
  text-align: left;
}

.w100 {
  width: 100%;
}
.w90 {
  width: 90%;
}
.w80 {
  border-radius: 30px 0 0 30px;
  background-color: #f89c00;
  width: 80%;
}
.w70 {
  width: 70%;
}
.w60 {
  width: 60%;
}
.w55 {
  width: 55%;
}
.w50 {
  width: 50%;
}
.w40 {
  width: 40%;
}
.w30 {
  width: 30%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.w15 {
  width: 15%;
}
.w10 {
  width: 10%;
}
.w9 {
  width: 9%;
}
.w8 {
  width: 8%;
}
.w7 {
  width: 7%;
}
.w6 {
  width: 6%;
}
.w5 {
  width: 5%;
}
.w4 {
  width: 4%;
}
.m_10 {
  margin-bottom: 10px;
}
.m_20 {
  margin-bottom: 20px;
}
.m_30 {
  margin-bottom: 30px;
}
.m_40 {
  margin-bottom: 40px;
}
.m_50 {
  margin-bottom: 50px;
}
.m_60 {
  margin-bottom: 60px;
}
.m_70 {
  margin-bottom: 70px;
}
.m_80 {
  margin-bottom: 80px;
}
.m_90 {
  margin-bottom: 90px;
}
.m_170 {
  margin-bottom: 170px;
}




.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}
