@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend, 
input,textarea,p,blockquote,th,td,label {
margin:0;
padding:0;
}

body,html{ 
width:100%; height:100%;
}

body,td,th {
	font-family:微軟正黑體 ,新細明體 , Arial, Helvetica, sans-serif;
}

fieldset,img {
border:0;
}
address,caption,cite,code,dfn,em,th,var {
font-style:normal;
font-weight:normal;
}
ul {
list-style:none;
}
caption,th {
text-align:left;
}

q:before,q:after {
content:'';
}
abbr,acronym { border:0;
}


a{
 outline: none; /* for Firefox */
 text-decoration:none;
 display:block;
}




.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}
